<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>957437742104-qf5a0sfela3ceggha4tnd8fsamvk4f0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957437742104-qf5a0sfela3ceggha4tnd8fsamvk4f0e</string>
	<key>API_KEY</key>
	<string>AIzaSyBI8k1_PmFd0otk2pgAaqFJsMuBroUm9YU</string>
	<key>GCM_SENDER_ID</key>
	<string>957437742104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Danny.Tournament</string>
	<key>PROJECT_ID</key>
	<string>tournament-bc776</string>
	<key>STORAGE_BUCKET</key>
	<string>tournament-bc776.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957437742104:ios:d694db2422f04a4a</string>
	<key>DATABASE_URL</key>
	<string>https://tournament-bc776.firebaseio.com</string>
</dict>
</plist>